<div class='container marketing'>

  <!-- Three columns of text below the carousel -->
  <div class='row'>
    <div class='col-lg-3'>


      <h2>Elliot Waxman</h2>
      <p>Elliot is a former decarbonization consultant and is currently building a platform for shareholder activism
        called ClimateDAO. To understand the
        technical side of app development, he's learning coding and building Folio</p>
      <p><a class='btn btn-secondary' href='https://github.com/elliotzacharywaxman' target='_blank'>View details »</a>
      </p>
    </div><!-- /.col-lg-4 -->
    <div class='col-lg-3'>


      <h2>Yafei Liu</h2>
      <p>Yafei has an MBA from NYIT and is shifting his career from finance to software engineering and has been
        building Folio.</p>
      <p><a class='btn btn-secondary' href='https://github.com/lyf703331869' target='_blank'>View details »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class='col-lg-3'>


      <h2>Destiny Henry</h2>
      <p>After graduating college with a degree in Communications, Destiny worked at Discovery Communications in Ad
        Sales for the Food Network, TLC, and Cooking Channel. Since then she's taking up coding and built folio
        alongside her team.</p>
      <p><a class='btn btn-secondary' href='https://github.com/destinyhenry' target='_blank'>View details »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class='col-lg-3'>


      <h2>Shay O'Sulllivan</h2>
      <p>Studied computer science in Ireland 2010-2012 then moved to the us, ended up bartending, managing and owning
        after being in New York for 10 years Now looking to get back into learning coding again to change my long hours.
      </p>
      <p><a class='btn btn-secondary' href='https://github.com/shayosullivan' target='_blank'>View details »</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div>