<div>
  <input placeholder='symbol' id='symbol-input' />
  <input placeholder='shares' type='number' id='shares-input' />
  <button id='add-symbol-button'>add</button>
</div>
<div>
  <ul id='symbol-list'>
  </ul>
</div>
<div style='margin-top: 50px;'>
  <div id='chart'></div>
</div>

<script src='https://cdn.jsdelivr.net/npm/chart.js'></script>
<script src='/js/dashboard.js'></script>