<h1>Take Charge of Your Financial Future</h1>
{{latestStocks}}

<h2> ticker {{ticker}}</h2>

<h2>testing</h2>
<ul>
    {{#each latestStocks}}
    <li>{{this}}</li>
    {{/each}}
</ul>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<script src="./js/login.js"></script> 